{% extends "core/base.html" %}

{% block title %}Cart{% endblock %}

{% block content %}
    <h1 class="max-w-6xl mx-auto text-3xl text-center mt-4 font-semibold">Your Cart</h1>
    <main class="max-w-6xl mx-auto flex  items-start space-x-6">
        <div class="w-full lg:w-3/4 bg-gray-200 mt-3 rounded-xl">
            {% if cart %}
                {% for item in cart %}
                    {% include "cart/partials/cart_item.html" %}
                {% endfor %}
            {% else %}
                <h2 class= "text-xl text-center p-2">Your Cart Is Emtype</h2>
            {% endif %}
        </div>

        
        <div class="w-full lg:w-1/4 p-6 bg-gray-100 rounded-xl mt-3">
            <h2 class="uppercase text-lg mb-5">Summary</h2>

            <div class="mb-6 flex justify-between">
                <span class="font-semibold">Total Price:</span>
                <span
                    hx-get="{% url 'cart:hx_cart_total' %}"
                    hx-trigger="update-menu-cart from:body"
                    hx-swap="innerHTML"
                >
                {% include 'cart/partials/cart_total.html' %}            
                </span>
            </div>
            
            <div
                hx-get="{% url 'cart:hx_checkout_button' %}"
                hx-trigger="update-menu-cart from:body"
                hx-swap="innerHTML"    
            >
            {% include "cart/partials/hx_checkout_button.html" %}
            </div>
        </div>
    </main>
{% endblock %}