{% if item %}
    <div class="product mb-6 p-4 flex pr-6" id="cart-item-{{ item.product.id }}">
        <a href="#" class="w-1/4">
            <img class="hover:shadow-lg rounded-xl" src="{{ item.product.get_thumbnail }}">
        </a>

        <div class="w-3/4 pl-6">
            <div class="flex justify-between">
                <a href="#" class="text-lg">{{ item.product.name }}</a>

                <span class="mb-6 pt-1 text-gray-400">${{ item.total_price }}</span>
            </div>

            <hr class="w-full h-1 mx-auto bg-gray-100 rounded dark:bg-gray-700">

            <div class="quantity mt-6 flex items-center space-x-4">
                <a 
                    href="#"
                    class="p-3 bg-gray-100"
                    hx-get="{% url 'cart:update_cart' item.product.id 'decrement' %}"
                    hx-target = "#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >-</a>
                <span>{{ item.quantity }}</span>
                <a 
                    href="#"
                    class="p-3 bg-gray-100"
                    hx-get="{% url 'cart:update_cart' item.product.id 'increment' %}"
                    hx-target = "#cart-item-{{ item.product.id }}"
                    hx-swap="outerHTML"
                >+</a>
            </div>
        </div>
    </div>
{% elif not cart.cart %}
    <h2 class= "text-xl text-center p-2">Your Cart Is Emtype</h2>
{% endif %}