{% extends "core/base.html" %}

{% block title %}About Me{% endblock %}

{% block header%}
    <header class="pb-28">
        <h1 class="mt-16 text-center text-3xl font-bold text-violet-100">About Me</h1>
    </header>
{% endblock %}

{% block content %}
    <main class="max-w-6xl mx-auto mt-8 flex space-x-8">
        {% load static %}
        <img src="{% static 'background/me.jpg' %}" class="w-1/2 rounded-xl">

        
        <div class="w-1/2">

            <div>
                <a href="https://dribbble.com/shots/22645096-Furniture-E-commerce-Website" target="_blank" class="hover:text-green-500">Link: <strong>UI homepage</strong></a>
            </div>
            
            <div class="bg-gray-200 mt-6 p-2 rounded-xl">
                <h1 class="text-2xl text-fuchsia-500">Story</h1>
                <p class="mt-2">Now, I am a final-year student at
                    the University of Science. My
                    major is Data Science, and I
                    usually work with data, Machine
                    Learning, and Deep Learning.
                    After six months of research for
                    my graduation essay, I realized
                    that I am not suited for my major.
                    So, I decided to start learning
                    about software development
                    (backend).
                </p>
                <a></a>
            </div>
        </div>
    </main>
{% endblock %}